# 환경변수
.env

# 데이터셋
datasets/

# streamlit 경로만 해제
!streamlit_app/datasets/
!streamlit_app/datasets/KOPIS/

# Jupyter 자동 생성 파일
.ipynb_checkpoints/
*.ipynb_checkpoints

# Python 캐시
__pycache__/
*.pyc
*.pyo
*.pyd

# OS/IDE 잡파일
.DS_Store
Thumbs.db
.vscode/
.idea/